body {
  font-family: 'Poppins', sans-serif;
  background-color: #f4f6fc;
  margin: 0;
  padding: 0;
}

.app-title {
  text-align: center;
  margin-top: 40px;
  font-size: 32px;
  font-weight: 600;
  color: #4452ff;
}

.register-container {
  max-width: 400px;
  margin: 80px auto;
  padding: 40px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.1);
}

.register-container h2 {
  text-align: left;
  margin-bottom: 10px;
  color: #333;
  font-size: 24px;
}

.register-container p {
  color: #666;
  font-size: 14px;
  margin-bottom: 20px;
}


.register-container input {
  width: 100%;
  padding: 10px 12px;
  margin: 10px 0;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
  background-color: #fff;
  box-sizing: border-box;
}

.register-container select {
  width: 100%;
  padding: 10px 12px;
  margin: 10px 0;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
  background-color: #fff;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24'><path fill='%23666' d='M7 10l5 5 5-5z'/></svg>");
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 16px;
  box-sizing: border-box;
}

.register-container button {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  border-radius: 6px;
  border: none;
  background-color: #5865F2;
  color: white;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
  font-size: 15px;
}

.register-container button:hover {
  background-color: #4752d3;
}

.register-container span {
  color: #5865F2;
  cursor: pointer;
}

.error-message {
  color: #e63946 !important;
  font-size: 14px;
  margin-top: 10px;
  text-align: left;
  font-weight: 500;
}

.success-message {
  color: #28a745;
  font-size: 14px;
  margin-top: 10px;
  text-align: left;
  font-weight: 500;
}

.material-symbols-outlined {
  vertical-align: middle;
  margin-right: 8px;
  color: #4452ff;
  font-size: 32px;
}

.register-line {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
  color: #555;
}

.register-inline-link {
  color: #5865F2;
  font-weight: 600;
  cursor: pointer;
  margin-left: 5px;
  transition: 0.3s;
}

.register-inline-link:hover {
  text-decoration: underline;
  color: #4452ff;
}
